
@using ACT.Core.Enums;
@using ACT.Core.Models;

@{
    ViewBag.Title = "Client Reporting";

    //UserModel user = User.Get();
}


<div class="ap-tabs">

    <ul>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="Disputes">
            <a data-ap-tab="1" data-target="#disputes" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Disputes">Disputes</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="ChepAudit">
            <a data-ap-tab="1" data-target="#chepaudit" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ChepAudit">Chep Audit</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="ClientAudit">
            <a data-ap-tab="1" data-target="#clientaudit" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ClientAudit">Client Audit</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="OutstandingPallets">
            <a data-ap-tab="1" data-target="#outstandingpallets" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="OutstandingPallets">Outstanding Pallets</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="MovementReport">
            <a data-ap-tab="1" data-target="#movementreport" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="MovementReport">Movement Report</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="Exceptions">
            <a data-ap-tab="1" data-target="#exceptions" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Exceptions">Exceptions</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="BillingReport">
            <a data-ap-tab="1" data-target="#billingreport" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="BillingReport">Billing Report</a>
        </li>

        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        <div id="disputes" class="da-tab none" data-load-url="Disputes"> </div>

        <div id="chepaudit" class="da-tab none" data-load-url="ChepAudit"> </div>

        <div id="clientaudit" class="da-tab none" data-load-url="ClientAudit"> </div>

        <div id="outstandingpallets" class="da-tab none" data-load-url="OutstandingPallets"> </div>

        <div id="movementreport" class="da-tab none" data-load-url="MovementReport"> </div>

        <div id="exceptions" class="da-tab none" data-load-url="Exceptions"> </div>

        <div id="billingreport" class="da-tab none" data-load-url="BillingReport"> </div>

    </div>

</div>

