
@using ACT.Core.Enums;
@using ACT.Core.Models;

@{
    ViewBag.Title = "Client Reporting";

    //UserModel user = User.Get();
}


<div class="ap-tabs">

    <ul>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="Disputes">
            <a data-ap-tab="1" data-target="#disputes" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Disputes">Disputes</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="AuditInformation">
            <a data-ap-tab="1" data-target="#auditinformation" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="AuditInformation">Audit Information</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="OutstandingPallets">
            <a data-ap-tab="1" data-target="#outstandingpallets" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="OutstandingPallets">Monthly Outstanding Pallets</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="MovementReport">
            <a data-ap-tab="1" data-target="#movementreport" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="MovementReport">Movement Report</a>
        </li>

        <li data-hot-spot="1" data-c="ClientReporting" data-t="Exceptions">
            <a data-ap-tab="1" data-target="#exceptions" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Exceptions">Exceptions per Subsite</a>
        </li>

        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        <div id="disputes" class="da-tab none" data-load-url="Disputes"> </div>

        <div id="auditinformation" class="da-tab none" data-load-url="AuditInformation"> </div>

        <div id="outstandingpallets" class="da-tab none" data-load-url="OutstandingPallets"> </div>

        <div id="movementreport" class="da-tab none" data-load-url="MovementReport"> </div>

        <div id="exceptions" class="da-tab none" data-load-url="Exceptions"> </div>

    </div>

</div>

