


.menu {
    position: relative;
    border-top-right-radius: 4px;
}

    .menu ul {
        padding: 0;
        list-style: none;
    }

        .menu ul li {
            list-style: none;
            text-align: left;
            position: relative;
            border-bottom: 1px solid #7368e3;
        }

            .menu ul li a {
                padding: 20px;
                display: block;
                color: #ffffff;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.4s ease-in 0s;
            }

            .menu ul li.current, .menu ul li:hover {
                background: #f5f5f5;
                border-left: 2px solid #ff1e12;
            }

                .menu ul li.current a, .menu ul li a:hover {
                    color: #002e70;
                    background: #f5f5f5;
                }

                    .menu ul li.current a .fa, .menu ul li a:hover .fa {
                        color: #ffffff;
                    }

            .menu ul li.logz {
                padding: 10px;
                background: #fff;
                border-right: 1px solid #eee;
                border-bottom: 5px solid #f5f5f5;
            }

                .menu ul li.logz:hover {
                    background: #fff;
                    border-left: 0 none;
                }

                .menu ul li.logz a:hover {
                    background: #fff;
                }

            .menu ul li.welcome {
                padding: 10px;
                font-size: 15px;
                background: #ddd;
                border-bottom: 5px solid #f5f5f5;
            }

                .menu ul li.welcome:hover {
                    border-left: 0 none;
                }
