
<div style="font-size: 13px; padding: 0 10px 0 10px; line-height: 19px; text-align: center;">

  <p style="font-size: 13px;">
    Exit Application?
  </p>

  <ion-grid>

    <ion-row>

      <ion-col style="text-align: center; padding: 0 0 10px 0 !important;">

        <a (click)="Yes()" style="font-weight: bold; text-transform: uppercase;">
          Yes
        </a>
  
      </ion-col>
      <ion-col style="text-align: center; padding: 0 0 10px 0 !important;">
  
        <a (click)="No()" style="font-weight: bold; text-transform: uppercase;">
          No
        </a>
        
      </ion-col>

    </ion-row>
    
  </ion-grid>

</div>