
<div style="font-size: 13px; padding: 0 10px 0 10px; line-height: 19px; text-align: center;">

  <p style="font-size: 13px;">
    If you have forgotten your 5 digit Pin, you can login using your Email Address and Password to create a new Pin.
  </p>

  <ion-grid>

    <ion-row>

      <ion-col style="text-align: center; padding: 0 0 10px 0 !important;">

        <a (click)="Confirm()" style="font-weight: bold; text-transform: uppercase;">
          Ok, login
        </a>
  
      </ion-col>
      <ion-col style="text-align: center; padding: 0 0 10px 0 !important;">
  
        <a (click)="Cancel()" style="font-weight: bold; text-transform: uppercase;">
          Cancel
        </a>
        
      </ion-col>

    </ion-row>
    
  </ion-grid>

</div>