
@model RegisterViewModel

@using ACT.UI.Models;

@{
    if ( VariableExtension.SystemRules == null )
    {
        VariableExtension.SetRules();
    }

    String absoluteUrlBase = Request.Url.Scheme + "://" + Request.Url.Host + ( Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port );
}

<table cellspacing="0" cellpadding="10" width="100%" style="width: 100%; font-size: 11px; margin: 0 auto; background-color: #fff; font-family: Helvetica, 'Segoe UI', Verdana, Sans-Serif;">

    <tbody>
        <tr>
            <td width="30%"></td>
            <td width="40%" style="font-size: 40px; margin-top: 40px; text-align: center;">
                ACT Pallet Solutions
            </td>
            <td width="30%"></td>
        </tr>
        <tr>
            <td height="20" colspan="3"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                Hi @Model.ContactPerson,
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    Thank you for requesting to register with ACT Pallet Solutions.
                </p>
                <p>
                    A dedicated team member has been assigned to review your request and you'll be notified once the review process is complete.'
                </p>
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    Should you have any queries, please email us on the support email address below.
                </p>
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    Support Email: <a href="mailto:@VariableExtension.SystemRules.SystemContactEmail">@VariableExtension.SystemRules.SystemContactEmail</a>
                </p>
            </td>
            <td width="20%"></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td width="20%"></td>
            <td width="60%" style="text-align: left; color: #aaa;">
                <i>@DateTime.Now.Year Copyright &copy; | ACT Pallet Solutions. All Rights Reserved</i>
            </td>
            <td width="20%"></td>
        </tr>
    </tfoot>

</table>