@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_ClientList";
}


@Html.Partial("_Notification")


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;
    List<Client> items = (List<Client>)Model.Items;
}


@if (Model == null || !items.Any())
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Clients available matching your search criteria.
    </div>
}

@if (user.IsAdmin)
{
    <p>
        @Html.ActionLink("Add Client", "AddClient", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new Client?", @data_edit = "1", @data_id = 0, @data_target = "#psps" })
        <span class="loader"></span>
    </p>
}


<table id="psps-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#psps-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="CompanyName" data-column="CompanyName">
                Company Name
            </th>
            <th data-name="CompanyRegistrationNumber" data-column="CompanyRegistrationNumber">
                Reg #
            </th>
            <th data-name="VATNumber" data-column="VATNumber">
                VAT #
            </th>
            <th data-name="ContactPerson" data-column="ContactPerson">
                Contact Person
            </th>
            <th data-name="ServiceRequired" data-column="ServiceRequired">
                Service Required
            </th>
            <th data-name="Status" data-column="Status">
                Status
            </th>
            <th data-name="UserCount">
                Users
            </th>
            <th data-name="ClientCount">
                Clients
            </th>
            <th data-name="ProductCount">
                Products
            </th>
            <th data-name="InvoiceCount">
                Invoices
            </th>
            <th data-name="BudgetCount">
                Budget
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
       
    </tbody>

</table>

@*@Html.Partial( "_PSPCustomSearch", new ACT.Core.Models.CustomSearchModel( "PSP" ) )*@

@Html.Partial("_Paging")