@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;
    ViewBag.ShowQuickStructure = true;

    ViewBag.ViewName = "_ManageTransporters";

    UserModel user = User.Get();
}


@Html.Partial( "_Notification" )


@{
    Int32 count = Model.Start;
}


@*@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Users  available matching your search criteria.
    </div>
}*@

<p>
    @Html.ActionLink( "Add Transporter", "AddTransporter", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new user?", @data_edit = "1", @data_id = 0, @data_target = "#users" } )
    <span class="loader"></span>
</p>


<table id="transporters-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#transporters-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            @*<th data-name="Count">
                #
            </th>*@
            <th data-name="Name" data-column="Name">
                Transporter Reg Name
            </th>
            <th data-name="Cell" data-column="Cell">
                Trading Name
            </th>
            <th data-name="Status" data-column="Status">
                Registration Numbewr
            </th>
            <th data-name="Type" data-column="Type">
                Company Contact Number
            </th>
            <th data-name="LastLogin" data-column="LastLogin">
                Email
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
      
    </tbody>

</table>

@*@Html.Partial( "_UserCustomSearch", new ACT.Core.Models.CustomSearchModel( "User" ) )*@

@Html.Partial( "_Paging" )