@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;

@{
    ViewBag.ShowExport = false;
    //ViewBag.ShowCustom = true;
    //ViewBag.ShowQuickStructure = true;

    ViewBag.ViewName = "_Subsites";

    UserModel user = User.Get();
}


@Html.Partial("_Notification")

<p>
    <table style="width:100%" border="0">
        <tr>
            <td style="width:3%">
                <label for="file">Client:</label><br /><br /><br />
                <label for="site">Site:</label>
            </td>
            <td style="width:15%">
                @Html.DropDownList("ClientList", "Please Select")<br /><br />
                @Html.DropDownList("SiteList", "Please Select")
            </td>
            <td style="width:2%">
                @if (user.IsAdmin || user.IsPSPAdmin)
                {
                    <br /><br />
                    @Html.ActionLink("Add", "AddSite", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new site?", @data_edit = "1", @data_id = 0, @data_target = "#sites" })
                }
                </td>
            <td style="width:3%">
                <label for="file">Browse:</label>
            </td>
            <td style="width:35%">
                <input type="file" name="sitesfile" id="sitesfile" />
            </td>
            <td style="width:10%">
                <input type="submit" value="Import Sites" />
            </td>
        </tr>
    </table>
    <span class="loader"></span>
</p>

@*<input type="hidden" id="selectedsite" name="selectedsite" value="0" />*@
<div id="mainsitedetails" style="display:none;">
    <div class="left" style="width: 27%; margin-right: 2%;">

        <div class="display-label">
            Site Name
        </div>
        <div class="display-field">
            <span class="sitename"></span>
        </div>
        <div class="display-label">
            Account Code
        </div>
        <div class="display-field">
            <span class="accountcode"></span>
        </div>
        <div class="display-label">
            Depot
        </div>
        <div class="display-field">
            <span class="sitedepot"></span>
        </div>

    </div>

    <div class="left" style="width: 27%; margin-right: 2%;">
        <div class="display-label">
            Contact Person
        </div>
        <div class="display-field">
            <span class="contactname"></span>
        </div>
        <div class="display-label">
            Contact Number
        </div>
        <div class="display-field">
            <span class="contactnumber"></span>
        </div>
        <div class="display-label">
            Region
        </div>
        <div class="display-field">
            <span class="siteregion"></span>
        </div>
    </div>

    <div class="left" style="width: 27%; margin-right: 2%;">

        <div class="display-label">
            Site X Coordinate
        </div>
        <div class="display-field">
            <span class="sitexcoord"></span>
        </div>
        <div class="display-label">
            Site Y Coordinate
        </div>
        <div class="display-field">
            <span class="siteycoord"></span>
        </div>
        <div class="display-label">
            Address
        </div>
        <div class="display-field">
            <span class="siteaddress"></span>
        </div>


    </div>
    </div>
    <div id="BottomLists" style="display:none;">
        <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>

        <div class="left" style="width: 42%; margin-right: 4%;">
            <p>
                <strong class="uppercase">Excluded Sites</strong>
            </p>
            <table id="excluded-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-starting-point=".ap-tabs ul">
                <thead>
                    <tr>

                        <th data-name="Name" data-column="Name">
                            Name
                        </th>
                        <th data-name="XCord" data-column="XCord">
                            X coordinate
                        </th>
                        <th data-name="YCord" data-column="YCord">
                            Y Coordinate
                        </th>
                        <th data-name="Address" data-column="Address">
                            Address
                        </th>
                        <th data-name="PostalCode" data-column="PostalCode">
                            Postal Code
                        </th>
                        <th data-name="ContactNo" data-column="ContactNo">
                            Contact Number
                        </th>
                        <th data-name="ContactName" data-column="ContactName">
                            Contact Name
                        </th>
                        <th data-name="RegionId" data-column="RegionId">
                            Region
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="excludedtabledata"></tbody>

            </table>
        </div>
        <div class="left" style="width: 5%; margin-left: 1%;">
            <br /><br /><br />
            <button id="Copy">>></button>
            <br />
            <br />
            <button id="Remove"><<</button>
        </div>
        <div class="left" style="width: 43%; margin-right: 2%;">
            <p>
                <strong class="uppercase">Included Sites</strong>
            </p>
            <table id="included-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-starting-point=".ap-tabs ul">
                <thead>
                    <tr>

                        <th data-name="Name" data-column="Name">
                            Name
                        </th>
                        <th data-name="XCord" data-column="XCord">
                            X coordinate
                        </th>
                        <th data-name="YCord" data-column="YCord">
                            Y Coordinate
                        </th>
                        <th data-name="Address" data-column="Address">
                            Address
                        </th>
                        <th data-name="PostalCode" data-column="PostalCode">
                            Postal Code
                        </th>
                        <th data-name="ContactNo" data-column="ContactNo">
                            Contact Number
                        </th>
                        <th data-name="ContactName" data-column="ContactName">
                            Contact Name
                        </th>
                        <th data-name="RegionId" data-column="RegionId">
                            Region
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="includedtabledata"></tbody>
            </table>
        </div>
    </div>
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
    <script>
        $(document).ready(function () {
            //var cId = $('#ClientList option:selected').val();
            //var sId = $('#SiteList option:selected').val();

            //Start with first option on both DDLs
            //UpdateSites(cId, sId);

            $("#ClientList").change(function () {
                debugger;
                var sId = $('#SiteList option:selected').val();
                UpdateSites($('option:selected', this).val(), sId);
            });

            $("#SiteList").change(function () {
                debugger;
                var cId = $('#ClientList option:selected').val();
                UpdateSites(cId, $('option:selected', this).val());
            });

            $('#Copy').on('click', function () {
                debugger;
                //var msId = $('#selectedsite').val();
                var cId = $('#ClientList option:selected').val();
                var checkedItem = $('#excludedtabledata input[type=radio]:checked').val();
                if (checkedItem != undefined) {
                    //save it first
                    SetIncludedSite(sId, checkedItem);
                    //then update
                    UpdateSites(cId, sId);
                } else {
                    alert('Nothing to Copy is selected');
                }
                //alert(checkedItem);
            });

            $('#Remove').on('click', function () {
                debugger;
                //var msId = $('#selectedsite').val();
                var cId = $('#ClientList option:selected').val();
                var checkedItem = $('#includedtabledata input[type=radio]:checked').val();
                if (checkedItem != undefined) {
                    //save it first
                    SetExcludedSite(sId, checkedItem);
                    //then update
                    UpdateSites(cId, sId);
                } else {
                    alert('Nothing to Remove is selected');
                }
            });
        });

        function UpdateSites(cId, sId) {
            debugger;
            if (sId != '' && cId != '') {
                $('#mainsitedetails').show();
                $('#BottomLists').show();
                GetSiteDetailsForMain(sId);
                GetIncludedSites(cId, sId);
                GetExcludedSites(cId, sId);
            }
        }

        function GetSiteDetailsForMain(sId) {
            $.ajax({
                type: "GET",
                url: "GetSiteDetailsForMain",
                data: { siteId: sId },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('span.sitename').text(data.Name);
                    $('span.contactname').text(data.ContactName);
                    $('span.contactnumber').text(data.ContactNo);
                    $('span.accountcode').text(data.AccountCode);
                    $('span.sitedepot').text(data.Depot);
                    $('span.sitexcoord').text(data.XCord);
                    $('span.siteycoord').text(data.YCord);
                    $('span.siteaddress').text(data.Address + '\n' + data.PostalCode);
                    $('span.siteregion').text(data.RegionId);
                    $('#selectedsite').val(data.Id);
                },
                error: function (response) {
                    alert('Error retrieving site details');
                }
            });
        }

        function GetIncludedSites(cId, sId) {
            //debugger;
            var rowDiv = $("#included-table tbody");
            $.ajax({
                type: "GET",
                url: "GetSitesForClientSiteIncluded",
                data: { clientId: cId, siteId: sId },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    // debugger;
                    rowDiv.html('');
                    var result = "";
                    $.each(data, function (id, site) {


                        result += '<tr id="tr-' + site.Id + '" class="tr-' + site.Id + '-item">' +
                            '<td style = "width: 15%;">' +
                            site.Name +
                            '</td><td>' +
                            site.XCord +
                            '</td><td> ' +
                            site.YCord +
                            '</td><td> ' +
                            site.Address +
                            '</td><td> ' +
                            site.PostalCode +
                            '</td><td> ' +
                            site.ContactNo +
                            ' </td><td> ' +
                            site.ContactName +
                            '</td><td> ' +
                            site.RegionId +
                            '</td><td><input type="radio" id="incl_item_id' + site.Id + '" name="incl_item" /></td></tr>';
                    });
                    rowDiv.html(result);

                },
                error: function (response) {

                    alert('Error retrieving sites');
                }
            });

        }

        function GetExcludedSites(cId, sId) {
            // debugger;
            var rowDiv = $("#excluded-table tbody");
            $.ajax({
                type: "GET",
                url: "GetSitesForClientSiteExcluded",
                data: { clientId: cId, siteId: sId },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    rowDiv.html('');
                    var result = "";
                    $.each(data, function (id, site) {


                        result += '<tr id="tr-' + site.Id + '" class="tr-' + site.Id + '-item">' +
                            '<td style = "width: 15%;">' +
                            site.Name +
                            '</td><td>' +
                            site.XCord +
                            '</td><td> ' +
                            site.YCord +
                            '</td><td> ' +
                            site.Address +
                            '</td><td> ' +
                            site.PostalCode +
                            '</td><td> ' +
                            site.ContactNo +
                            ' </td><td> ' +
                            site.ContactName +
                            '</td><td> ' +
                            site.RegionId +
                            '</td><td><input type="radio" id="excl_item_id' + site.Id + '" name="excl_item" /></td></tr>';
                    });
                    rowDiv.html(result);

                },
                error: function (response) {
                    alert('Error retrieving sites');
                }
            });

        }

        function SetIncludedSite(msId, sId) {
            var data = {
                "mainSiteId": msId, "movedSiteId": sId
            };
            $.ajax({
                type: 'POST',
                url: "SetSiteForClientSiteIncluded",
                data: data,
                success: function (response) {
                    if (response == "True") {
                        alert('Site Updated.');
                    } else {
                        alert('Site could not be saved. Try again.');
                    }
                }
            });
        }

        function SetExcludedSite(msId, sId) {
            var data = {
                "mainSiteId": msId, "movedSiteId": sId
            };
            $.ajax({
                type: 'POST',
                url: "SetSiteForClientSiteExcluded",
                data: data,
                success: function (response) {
                    if (response == "True") {
                        alert('Site Updated.');
                    } else {
                        alert('Site could not be saved. Try again.');
                    }
                }
            });
        }
    </script>
    @*@Html.Partial( "_UserCustomSearch", new ACT.Core.Models.CustomSearchModel( "User" ) )*@

    @*@Html.Partial("_Paging")*@
