@using ACT.Core.Models;

@{
    ViewBag.Title = "Client";

    UserModel user = User.Get();
}


<div class="ap-tabs">

    <ul>

        <li data-hot-spot="1" data-c="Client" data-t="ClientList">
            <a data-ap-tab="1" data-target="#clientlist" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ClientList">Client List</a>
        </li>
        <li data-hot-spot="1" data-c="Client" data-t="ClientGroups">
            <a data-ap-tab="1" data-target="#clientgroups" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ClientGroups">Client Groups</a>
        </li>
        <li data-hot-spot="1" data-c="Client" data-t="ManageSites">
            <a data-ap-tab="1" data-target="#managesites" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ManageSites">Manage Sites</a>
        </li>
        <li data-hot-spot="1" data-c="Client" data-t="Subsites">
            <a data-ap-tab="1" data-target="#subsites" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Subsites">Sub-sites</a>
        </li>
        @*<li data-hot-spot="1" data-c="Client" data-t="LinkProducts">
            <a data-ap-tab="1" data-target="#linkproducts" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="LinkProducts">Link Products</a>
        </li>*@
        @*<li data-hot-spot="1" data-c="Client" data-t="ManageTransporters">
            <a data-ap-tab="1" data-target="#managetransporters" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ManageTransporters">Manage Transporters</a>
        </li>*@
        @*<li data-hot-spot="1" data-c="Client" data-t="AwaitingActivation">
            <a data-ap-tab="1" data-target="#awaitingactivation" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="AwaitingActivation">Awaiting Activation</a>
        </li>*@

        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        <div id="clientlist" class="da-tab none" data-load-url="ClientList"> </div>

        <div id="clientgroups" class="da-tab none" data-load-url="ClientGroups"> </div>

        <div id="managesites" class="da-tab none" data-load-url="ManageSites"> </div>

        <div id="subsites" class="da-tab none" data-load-url="Subsites"> </div>

        @*<div id="linkproducts" class="da-tab none" data-load-url="LinkProducts"> </div>*@

        @*<div id="managetransporters" class="da-tab none" data-load-url="ManageTransporters"> </div>*@

        @*<div id="awaitingactivation" class="da-tab none" data-load-url="AwaitingActivation"> </div>*@
    </div>

</div>

@*@Html.Partial(_ClientHeader)*@