@using ACT.Core.Models;

@{
    ViewBag.Title = "Client";

    UserModel user = User.Get();
}


<div class="ap-tabs">

    <ul>

        <li data-hot-spot="1" data-c="Client" data-t="Clients">
            <a data-ap-tab="1" data-target="#clients" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Clients">Client</a>
        </li>
        <li data-hot-spot="1" data-c="Client" data-t="ClientKPI">
            <a data-ap-tab="1" data-target="#clientkpi" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ClientKPI">Client KPI</a>
        </li>
        @if ( user.IsAdmin )
        {
            <li data-hot-spot="1" data-c="Client" data-t="Groups">
                <a data-ap-tab="1" data-target="#clientgroups" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ClientGroups">Client Groups</a>
            </li>
        }
        <li data-hot-spot="1" data-c="Client" data-t="ManageSites">
            <a data-ap-tab="1" data-target="#managesites" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ManageSites">Manage Sites</a>
        </li>
        @*<li data-hot-spot="1" data-c="Client" data-t="Subsites">
            <a data-ap-tab="1" data-target="#subsites" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Subsites">Sub-sites</a>
        </li>*@
        <li data-hot-spot="1" data-c="Client" data-t="LinkProducts">
            <a data-ap-tab="1" data-target="#linkproducts" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="LinkProducts">Link Products</a>
        </li>
        <li data-hot-spot="1" data-c="Client" data-t="ManageTransporters">
            <a data-ap-tab="1" data-target="#managetransporters" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ManageTransporters">Manage Transporters</a>
        </li>

        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        <div id="clients" class="da-tab none" data-load-url="Clients"> </div>

        <div id="clientkpi" class="da-tab none" data-load-url="ClientKPI"> </div>

        @if ( user.IsAdmin )
        {
            <div id="clientgroups" class="da-tab none" data-load-url="ClientGroups"> </div>
        }

        <div id="managesites" class="da-tab none" data-load-url="ManageSites"> </div>

        <div id="subsites" class="da-tab none" data-load-url="Subsites"> </div>

        <div id="linkproducts" class="da-tab none" data-load-url="LinkProducts"> </div>

        <div id="managetransporters" class="da-tab none" data-load-url="ManageTransporters"> </div>
    </div>

</div>