<ion-header class="ion-no-border" [translucent]="true" style="--background: #062d4a !important; background: #062d4a !important; color: #ffffff !important;">
  <ion-toolbar style="--background: #062d4a !important; background: #062d4a !important; color: #ffffff !important;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>RESET PASSWORD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (ionScroll)="this.auth.OnScroll($event)" [scrollEvents]="true">
  
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.auth.ShowScroll" (click)="this.auth.ScrollToTop();">
    <ion-fab-button>
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="background-color: #062d4a; text-align: center; height: 150px; padding: 5px 0; margin-bottom: 10PX;">
      <img alt="My Rewards Logo" height="100%" src="../../assets/imgs/my-rewards-logo.png" />
  </div>

  <ion-item-divider>

    <ion-label>
        Hello, enter your <b>Email Address</b> below:
    </ion-label>

  </ion-item-divider>

  <div style="margin-top: 20px;">

  <form (submit)="ForgotPassword()">
    
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="email" name="Email" [(ngModel)]="Email" required="required"></ion-input>
    </ion-item>
  
    <div text-left style="margin-top: 30px; padding: 0 10px;">
  
      <ion-button color="warning" type="submit" shape="round" expand="full">
        RESET
        <ion-icon name="construct" slot="end"></ion-icon>
      </ion-button>
  
    </div>

  </form>

</div>

</ion-content>
