
@{
    ViewBag.Title = "Dashboard";
}

<div class="graphs" style="margin-top: 10px; text-align: center;">

    <div class="grouped-area left" style="width: 46%; margin-right: 1%;">

        <p>
            <strong>AGE OF OUTSTANDING PALLETS</strong>
        </p>

        <div id="aop-graph" data-graph="1" data-loaded="0" data-type="AgeOfOutstandingPallets">

        </div>

    </div>

    <div class="grouped-area right" style="width: 46%;">

        <p>
            <strong>LOADS PER MONTH</strong>
        </p>

        <div id="lpm-graph" data-graph="1" data-loaded="0" data-type="LoadsPerMonth">

        </div>

    </div>

    <div class="clear"></div>

    <div class="grouped-area left" style="width: 46%; margin-right: 1%;">

        <p>
            <strong>AUTHORISATION CODES</strong>
        </p>

        <div id="ac-graph" data-graph="1" data-loaded="0" data-type="AuthorisationCodes">

        </div>

    </div>

    <div class="grouped-area right" style="width: 46%;">

        <p>
            <strong>NUMBER OF PALLETS MANAGED</strong>
        </p>

        <div id="npm-graph" data-graph="1" data-loaded="0" data-type="NumberOfPalletsManaged">

        </div>

    </div>

    <div class="clear"></div>

    <div class="grouped-area left" style="width: 46%; margin-right: 1%;">

        <p>
            <strong>NUMBER OF DISPUTES</strong>
        </p>

        <div id="nod-graph" data-graph="1" data-loaded="0" data-type="NumberOfDisputes">

        </div>

    </div>

    <div class="grouped-area right" style="width: 46%;">

        <p>
            <strong>KPI MEASUREMENT</strong>
        </p>

        <div id="kpi-graph" data-graph="1" data-loaded="0" data-type="KPIMeasurement">

        </div>

    </div>

    <div class="clear"></div>

</div>