@using ACT.Core.Models;

@{
    ViewBag.Title = "Administration";

    //UserModel user = User.Get();
}


<div class="ap-tabs">

    <ul>

        <li data-hot-spot="1" data-c="Administration" data-t="Users">
            <a data-ap-tab="1" data-target="#users" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Users">Users</a>
        </li>
        <li data-hot-spot="1" data-c="Administration" data-t="PSPs">
            <a data-ap-tab="1" data-target="#psps" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="PSPs">PSPs</a>
        </li>
        <li data-hot-spot="1" data-c="Administration" data-t="Clients">
            <a data-ap-tab="1" data-target="#clients" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Clients">Clients</a>
        </li>
        <li data-hot-spot="1" data-c="Administration" data-t="AuditLog">
            <a data-ap-tab="1" data-target="#auditlog" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="AuditLog">Audit Log</a>
        </li>
        <li data-hot-spot="1" data-c="Administration" data-t="Broadcasts">
            <a data-ap-tab="1" data-target="#broadcasts" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Broadcasts">Broadcasts</a>
        </li>
        <li data-hot-spot="1" data-c="Administration" data-t="Roles">
            <a data-ap-tab="1" data-target="#roles" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Roles">Roles</a>
        </li>
        <li data-hot-spot="1" data-c="Administration" data-t="SystemConfig">
            <a data-ap-tab="1" data-target="#systemconfig" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="SystemConfig">System Config</a>
        </li>

        <li data-hot-spot="1" data-c="Administration" data-t="DeclineReasons">
            <a data-ap-tab="1" data-target="#declinereasons" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="DeclineReasons">Decline Reasons</a>
        </li>

        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        <div id="users" class="da-tab none" data-load-url="Users"> </div>

        <div id="psps" class="da-tab none" data-load-url="PSPs"> </div>

        <div id="clients" class="da-tab none" data-load-url="Clients"> </div>

        <div id="auditlog" class="da-tab none" data-load-url="AuditLog"> </div>

        <div id="broadcasts" class="da-tab none" data-load-url="Broadcasts"> </div>

        <div id="roles" class="da-tab none" data-load-url="Roles"> </div>

        <div id="systemconfig" class="da-tab none" data-load-url="SystemConfig"> </div>

        <div id="declinereasons" class="da-tab none" data-load-url="DeclineReasons"> </div>
    </div>

</div>

