@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using ACT.UI.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_PADList";
}


@Html.Partial("_Notification")


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;
    //List<PADViewModel> items = (List<PADViewModel>)Model.Items;

    //PADService cservice = new PADService();


}


@*@if (Model == null || !items.Any())
    {
        <div class="notification message-warn" style="margin-bottom: 20px;">
            There are no PADs available matching your search criteria.
        </div>
    }*@

<div id="BottomLists" style="display:block;">
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
    <div class="left" style="width: 42%; margin-right: 2%;">
        <h3>Pooling Agent Loads</h3>
        <table id="pool-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-fixed-header-target="#groupsexcluded-table_wrapper" data-starting-point=".ap-tabs ul">
            <thead>
                <tr>
                    <th style="width:7%;">
                        Status
                    </th>
                    <th style="width:7%;">
                        Agent
                    </th>
                    <th style="width:7%;">
                        Load Date
                    </th>
                    <th style="width:7%;">
                        Eff Date
                    </th>
                    <th style="width:7%;">
                        Del Note
                    </th>
                    <th style="width:7%;">
                        Product
                    </th>
                    <th style="width:7%;">
                        Shipment #
                    </th>
                    <th style="width:7%;">
                        Issue Note
                    </th>
                    <th style="width:7%;">
                       Qty
                    </th>
                    <th data-name="Actions" style="width:5%;">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody id="pooltabledata"></tbody>

        </table>

    </div>
    @*<div class="left" style="width: 5%; margin-left: 1%;">
        <br /><br /><br />
        <button id="Copy">>></button>
        <br />
        <br />
        <button id="Remove"><<</button>
    </div>*@
    <div class="left" style="width: 45%; margin-right: 2%;">
        <h3>Client Loads</h3>
        <table id="client-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-fixed-header-target="#groupsincluded-table_wrapper" data-starting-point=".ap-tabs ul">
            <thead>
                <tr>
                    <th style="width:7%;">
                        Status
                    </th>
                    <th style="width:7%;">
                        Agent
                    </th>
                    <th style="width:7%;">
                        Load Date
                    </th>
                    <th style="width:7%;">
                        Eff Date
                    </th>
                    <th style="width:7%;">
                        Del Note
                    </th>
                    <th style="width:7%;">
                        Product
                    </th>
                    <th style="width:7%;">
                        Shipment #
                    </th>
                    <th style="width:7%;">
                        Issue Note
                    </th>
                    <th style="width:7%;">
                        Qty
                    </th>
                    <th data-name="Actions" style="width:5%;">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody id="clienttabledata"></tbody>

        </table>

    </div>
</div>
<div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
@Html.Partial("_Paging")