@using ACT.Core.Models;

@{
    ViewBag.Title = "Pallet";

    UserModel user = User.Get();
}


<div class="ap-tabs">

    <ul>
        @if ( user.IsAdmin || user.IsPSPAdmin )
        {
            <li data-hot-spot="1" data-c="Pallet" data-t="PoolingAgentData">
                <a data-ap-tab="1" data-target="#poolingagentdata" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="PoolingAgentData">Pooling Agent Data</a>
            </li>
        }
        <li data-hot-spot="1" data-c="Pallet" data-t="ClientData">
            <a data-ap-tab="1" data-target="#clientdata" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ClientData">Client Data</a>
        </li>
        <li data-hot-spot="1" data-c="Pallet" data-t="ReconcileLoads">
            <a data-ap-tab="1" data-target="#reconcileloads" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ReconcileLoads">Reconcile Loads</a>
        </li>

        <li data-hot-spot="1" data-c="Pallet" data-t="ReconcileInvoices">
            <a data-ap-tab="1" data-target="#reconcileinvoices" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="ReconcileInvoices">Reconcile Invoices</a>
        </li>
        @*<li data-hot-spot="1" data-c="Pallet" data-t="Exceptions">
            <a data-ap-tab="1" data-target="#exceptions" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Exceptions">Exceptions</a>
        </li>*@
        <li data-hot-spot="1" data-c="Pallet" data-t="DeliveryNotes">
            <a data-ap-tab="1" data-target="#deliverynotes" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="DeliveryNotes">Delivery Notes</a>
        </li>
        <li data-hot-spot="1" data-c="Pallet" data-t="Disputes">
            <a data-ap-tab="1" data-target="#disputes" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Disputes">Disputes</a>
        </li>
        <li data-hot-spot="1" data-c="Pallet" data-t="AuthorisationCodes">
            <a data-ap-tab="1" data-target="#authorisationcodes" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="AuthorisationCodes">Authorisations</a>
        </li>
        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        @if ( user.IsAdmin || user.IsPSPAdmin )
        {
            <div id="poolingagentdata" class="da-tab none" data-load-url="PoolingAgentData"> </div>
        }

        <div id="clientdata" class="da-tab none" data-load-url="ClientData"> </div>

        <div id="reconcileloads" class="da-tab none" data-load-url="ReconcileLoads"> </div>

        <div id="reconcileinvoices" class="da-tab none" data-load-url="ReconcileInvoices"> </div>

        <div id="exceptions" class="da-tab none" data-load-url="Exceptions"> </div>

        <div id="deliverynotes" class="da-tab none" data-load-url="DeliveryNotes"> </div>

        <div id="disputes" class="da-tab none" data-load-url="Disputes"> </div>

        <div id="authorisationcodes" class="da-tab none" data-load-url="AuthorisationCodes"> </div>
    </div>

</div>

@*@Html.Partial(_ClientHeader)*@