@{
    ViewBag.Title = "Billing";
}


<div class="ap-tabs">

    <ul>

        <li data-hot-spot="1" data-c="Finance" data-t="Billing">
            <a data-ap-tab="1" data-target="#billing" data-tab-holder="#tab-data" data-partial-load="1" data-rendered="0" data-load-url="Billing">Billing</a>
        </li>

        <li class="last"></li>
    </ul>



    <div id="tab-data" class="tab-data">

        <div id="billing" class="da-tab none" data-load-url="Billing"> </div>
    </div>

</div>