<ion-header [translucent]="true" style="color: #002e70 !important;">
  <ion-toolbar style="color: #002e70 !important;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img (click)="this.auth.OnShowContact()" alt="Contact" src="../../assets/imgs/contact.png" style="width: 36px;" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" size="large" (click)="this.auth.GoToPage('notifications')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item-divider style="margin-bottom: 20px;">
    <ion-label style="text-transform: uppercase;">
      Outstanding Pallets Per Site
    </ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row style="border-bottom: 1px solid #ddd; text-transform: uppercase; font-size: 12px;">
      <ion-col>
        <b style="color: #002e70 !important;">Site</b>
      </ion-col>
      <ion-col class="ion-text-center">
        <b style="color: #002e70 !important;">0-3 Months</b>
      </ion-col>
      <ion-col class="ion-text-center">
        <b style="color: #002e70 !important;">4-6 Months</b>
      </ion-col>
      <ion-col class="ion-text-center">
        <b style="color: #002e70 !important;">7-12 Months</b>
      </ion-col>
      <ion-col class="ion-text-center">
        <b style="color: #002e70 !important;">+12 Months</b>
      </ion-col>
    </ion-row>
    
    <ion-row *ngFor="let x of this.auth.OutstandingPalletsPerSite" style="border-bottom: 1px solid #ededed; padding: 10px 0; font-size: 12px;">
      <ion-col>
        {{x.SiteName}}
      </ion-col>
      <ion-col class="ion-text-center">
        {{x.Month1}}
      </ion-col>
      <ion-col class="ion-text-center">
        {{x.Month2}}
      </ion-col>
      <ion-col class="ion-text-center">
        {{x.Month3}}
      </ion-col>
      <ion-col class="ion-text-center">
        {{x.Month4}}
      </ion-col>
    </ion-row>

  </ion-grid>

  

</ion-content>