<ion-header [translucent]="true" style="color: #002e70 !important;">
  <ion-toolbar style="color: #002e70 !important;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img (click)="this.auth.OnShowContact()" alt="Contact" src="../../assets/imgs/contact.png" style="width: 36px;" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" size="large" (click)="this.auth.GoToPage('notifications')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (ionScroll)="this.auth.OnScroll($event)" [scrollEvents]="true">
  
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.auth.ShowScroll" (click)="this.auth.ScrollToTop();">
    <ion-fab-button>
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-divider style="margin-bottom: 20px;">
    <ion-label style="text-transform: uppercase;">
      Notification
    </ion-label>
  </ion-item-divider>

  <p>
    {{this.auth.Notification.Message}}
    <br/><br/>
  </p>

</ion-content>
